.contenedor{
    max-width: 1100px;
}
.mat-expansion-panel{
    margin: 15px 0;
}
.fecha{
    margin: 0 15px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.imagen{
    width: 500px;
    height: 500px;
}
.iconos{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    cursor: pointer;
}