.nav{
    width: 100%;
    background: rgb(231, 73, 73);
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.elemento{
    margin: 0 20px;
}
.nav .elemento a{
    list-style: none;
    text-decoration: none;
    color: aqua;
    display: flex;
    align-items: center;
}
.nav .elemento a:hover{
    color: rgb(18, 218, 218);
}
