.contenedor{
    max-width: 1100px;
}
.mat-expansion-panel{
    margin: 15px 0;
}
.fecha{
    margin: 0 15px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.imagen{
    width: 500px;
    height: 500px;
}
.iconos{
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    cursor: pointer;
}
.iconos > .borrar:hover{
    opacity: 0.5;
}
.actualizar{
    cursor: pointer;
}
.actualizar:hover{
    color: blue;
}
.Invisible{
    display: none;
}
.formulario{
    background: rgba(0, 0, 0, 0.9);
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}
.formulario > form{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
    text-align: center;
}
form{
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.Invisible{
    display: none;
}
.inputs{
    display: flex;
    width: 150px;
    justify-content: space-between;
}