.contenedor .fecha{
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid rgb(56, 130, 204);
    font-family:Roboto, "Helvetica Neue", sans-serif;
}
.contenedor .archivos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor .archivos .archivo{
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}